{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow text-center">

            <h3 class="text-danger mb-4">
                ⚠️ Êtes-vous sûr de vouloir supprimer cette dépense ?
            </h3>

            <p><strong>{{ depense.titre }}</strong> - {{ depense.montant }} $</p>

            <form method="post">
                {% csrf_token %}

                <button type="submit" class="btn btn-danger me-2">
                    Supprimer
                </button>

                <a href="{% url 'liste_depenses' %}" class="btn btn-secondary">
                    Annuler
                </a>
            </form>

        </div>
    </div>
</div>

{% endblock %}